<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">

</script>
<title>硅谷商城</title>
</head>
<body>
<div th:fragment="menu">
	<div class="menu">
		<div class="nav">
			<div class="navs">
				<div class="left_nav" >
					全部商品分类
					<div class="nav_mini">
						<ul  id="class_1_ul" >
							<li>
								<a href="" >家用电器</a>
								<div  id="class_2_ul" class="two_nav"  >
								</div>
							</li>
							<li><a href=""  onmouseout="hidden1()">营养保健</a></li>
							<li><a href=""  onmouseout="hidden1()">图书</a></li>
							<li><a href=""  onmouseout="hidden1()">彩票</a></li>
							<li><a href=""  onmouseout="hidden1()">理财</a></li>
						</ul>
					</div>
				</div>
				<ul>
					<li><a href="">服装城</a></li>
					<li><a href="">美妆馆</a></li>
					<li><a href="">超市</a></li>
					<li><a href="">全球购</a></li>
					<li><a href="">闪购</a></li>
					<li><a href="">团购</a></li>
					<li><a href="">拍卖</a></li>
					<li><a href="">金融</a></li>
					<li><a href="">智能</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>