<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script th:src="@{/js/jquery-1.7.2.min.js}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
    <title>欢迎注册</title>
</head>
<body>
<header>
    <a href="index" class="logo"></a>
    <div class="desc">欢迎注册</div>
    <a href="gotoLogin" class="desc2">已有账号？前往登陆</a>
</header>
<section>
    <form action="register" method="post">
        <div class="register-box">
            <label  class="username_label">用 户 名
                <input maxlength="20" type="text" name="username" placeholder="您的用户名和登录名"/>
            </label>
            <div class="tips">

            </div>
        </div>
        <div class="register-box">
            <label  class="other_label">设 置 密 码
                <input maxlength="20" type="password" name="password" placeholder="建议至少使用两种字符组合"/>
            </label>
            <div class="tips">

            </div>
        </div>
        <div class="register-box">
            <label  class="other_label">确 认 密 码
                <input maxlength="20" type="password" placeholder="请再次输入密码"/>
            </label>
            <div class="tips">

            </div>
        </div>
        <div class="register-box">
            <label  class="other_label">
                <span>中国 0086</span>
                <input class="phone" maxlength="20" type="text" name="phone" placeholder="建议使用常用手机"/>
            </label>
            <div class="tips">

            </div>
        </div>
        <div class="register-box">
            <label  class="other_label">验 证 码
                <input maxlength="20" type="text" placeholder="请输入验证码"/>
            </label>
            <span id="code"></span>
            <div class="tips">

            </div>
        </div>
        <div class="arguement">
            <input type="checkbox" id="xieyi"/>
            阅读并同意
            <a href="#">《用户注册协议》</a>
            <a href="#">《隐私政策》</a>
            <div class="tips">

            </div>
        </div>
        <div class="submit_btn">
            <button type="submit" id="submit_btn" style="cursor:pointer;" >立 即 注 册</button>
        </div>
    </form>
</section>
<script th:src="@{/js/register.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>
